<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Css/style_base.css' %}">
    <title>{% block title %}Bibl alexandria{% endblock %}</title>
  </head>
  <body>
    <header class="topbar" role="banner">
      <div class="brand">Bibl alex</div>
      <nav aria-label="Navegação principal">
        <ul class="nav">
          <li><a href="logout" role="button">Perfil</a></li>
          <li><a href="#login" role="button">Login</a></li>
          <li><a href="#eventos" role="button">Eventos</a></li>
        </ul>
      </nav>
    </header>
  </body>

   

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    
</html>
