<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <link rel="stylesheet" href="{% static 'Css/style_base.css' %}">
    <title>{% block title %}Bibl alexandria{% endblock %}</title>
  </head>
  <body>
    <header class="topbar" role="banner">
      <a href="{% url 'home_page' %}" class="brand">
          <img src="{% static 'imagens/logo_bibli.png' %}" alt="Logo Biblioteca de Alexandria">
      </a>

      <nav aria-label="Navegação principal">
        
        <ul class="nav">
          <li><a class="nav-link" href={% url 'cadastro_evento' %}>Cadastrar Eventos</a></li>
          <li><a class="nav-link" href={% url 'eventos'  %}>Eventos</a></li>
          <li><a class="nav-link" href={% url 'usuario'  %}>Usuarios</a></li>
          <li><a class="nav-link" href={% url 'edit_user' %}>Perfil</a></li>
          <li><a class="nav-link" href={% url 'logs' %}>Logs</a></li>
          <li><a class="nav-link" href={% url 'logout' %}>Sair</a></li>
        </ul>
      
      </nav>
    </header>

  </body>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
</html>
