{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/style_perfil.css'%}">
<form action="{% url 'edit_user' %}" method="post">
<div class="infos">    
            {% csrf_token %}
            <div class="div-h1">
                <h1>Perfil</h1>
            </div> 
            <div class="div-inputs">
                <div id="nome-field">
                    <input name= "nome" class="form-control-sm" type="text" value="{{ usuario.nome }}" required>
                </div>
                <div id="telefone-field">
                    <input name="telefone" class="form-control-sm" type="text" value="{{ usuario.telefone }}" oninput="mascaraTelefone(this)" maxlength="15" required>
                </div>
                <div id="inst-field">
                    <input name= "instEnsino" class="form-control-sm" type="text" value="{{ usuario.instEnsino }}" required>
                </div>
                <div id="email-field">
                    <input name= "email" class="form-control-sm" type="text" value="{{ usuario.email }}" required>
                </div>

                <div class="senha-container">
                    <input name="senha" id="senhaInput" type="password" value="{{ usuario.senha }}" class="senha" required>
                    
                    <input type="checkbox" id="toggleSenha" class="mostrar-checkbox">
                    <label for="toggleSenha" class="btn-mostrar">Mostrar</label>

                </div>

                <button class="form-control-sm" type="submit">Salvar perfil</button>
            </div>
  </form>

<script>
    const senhaInput = document.getElementById("senhaInput");
    const toggleBtn = document.getElementById("toggleSenha");

    toggleBtn.addEventListener("click", function () {
        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            toggleBtn.textContent = "🙈"; // ícone quando mostra
        } else {
            senhaInput.type = "password";
            toggleBtn.textContent = "👁️"; // ícone quando esconde
        }
    });
</script>

<script>
    function mascaraTelefone(input) {
        let valor = input.value.replace(/\D/g, ""); // Remove tudo que não é número

        if (valor.length > 0) valor = "(" + valor;
        if (valor.length > 3) valor = valor.slice(0, 3) + ") " + valor.slice(3);
        if (valor.length > 10) valor = valor.slice(0, 10) + "-" + valor.slice(10, 14);

        input.value = valor;
    }
</script>


{% endblock  %}