{% extends "base.html" %}

{% block content %}
    

    <form action="{% url 'cadastro' %}" method="post">
        {% csrf_token %}
        <div>
            <h1>Cadastro de Usuarios</h1>
        </div> 
        <div>
            <label for="Nome">Nome:</label>
            <input name= "nome" class="form-control-sm" type="text">
        </div>
        <div>
            <label for="Telefone">Telefone:</label>
            <input name= "telefone" class="form-control-sm" type="text">
        </div>
        <div>
            <label for="Instituicao">Instituicao de Ensino:</label>
            <input name= "instEnsino" class="form-control-sm" type="text">
        </div>
        <div>
            <label for="Email">Email:</label>
            <input name= "email" class="form-control-sm" type="text">
        </div>

        <div id="senhaDiv" style="display: block;">
            <label for="Senha">Senha:</label>
            <input name= "senha" class="form-control-sm" type="text">
        </div>
        <!--Senha para organizador-->
        <div id="senhaAcessoDiv" style="display: none;">
            <label for="senha_acesso">Senha de acesso:</label>
            <input name="senha_acesso" class="form-control-sm" type="text">
        </div>
        <!--Senha para professor-->
        <div id="senhaproDiv" style="display: none;">
            <label for="senha_pro">Senha_pro:</label>
            <input name="senha_pro" class="form-control-sm" type="text">
        </div>

        
        
        <div>
            <label for="Tipo">Qual sua ocupação:</label><br>
            <input name= "tipo" class="form-control-sm" type="radio" value="aluno">Aluno
            <input name= "tipo" class="form-control-sm" type="radio" value="professor">Professor
            <input name= "tipo" class="form-control-sm" type="radio" value="organizador">Organizador
        </div>

        <script>
            // Exibe o campo de senha especial somente se "organizador" for selecionado
            const radios = document.querySelectorAll('input[name="tipo"]');
            const senhaDiv = document.getElementById('senhaAcessoDiv');
            const senhapro2 = document.getElementById('senhaproDiv');
            const senhaDiv2 = document.getElementById('senhaDiv');
            radios.forEach(radio => {
                radio.addEventListener('change', function() {
                    if (this.value === 'organizador') {
                        senhaDiv.style.display = 'block';
                        senhapro2.style.display = 'none';
                        senhaDiv2.style.display = 'none';
                    }else if (this.value === 'professor') {
                        senhaDiv.style.display = 'none';
                        senhapro2.style.display = 'block';
                        senhaDiv2.style.display = 'none';
                    } else {
                        senhaDiv.style.display = 'none';
                        senhaDiv2.style.display = 'block';
                        senhapro2.style.display = 'none';

                    }
                });
            });
        </script>
        
            <button class="form-control-sm">Enviar</button>
    </form>
{% endblock content %}