{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'Css/style_cad_user.css' %}">

    <div class="infos" >    
        <form action="{% url 'cadastro' %}" method="post">
            {% csrf_token %}
            <div class="div-h1">
                <h1>Cadastro de Usuarios</h1>
            </div> 
            <div class="div-inputs">
                <div id="nome-field">
                    <input name= "nome" class="form-control-sm" type="text" placeholder="Nome:" required>
                </div>
                <div id="telefone-field">
                    <input name= "telefone" class="form-control-sm" type="text"placeholder="Telefone:" required>
                </div>
                <div id="inst-field">
                    <input name= "instEnsino" class="form-control-sm" type="text"placeholder="Instituicao de Ensino:" required>
                </div>
                <div id="email-field">
                    <input name= "email" class="form-control-sm" type="text"placeholder="Email:" required>
                </div>

                <div id="senhaDiv" style="display: block;">
                    <input name= "senha" class="form-control-sm" type="password"placeholder="Senha:" required>
                </div>
                
                <!--token para organizador-->
                <div id="tokenAcessoDiv" style="display: none;">
                    <input name="token_acesso" class="form-control-sm" type="text"placeholder="Token de acesso:" required>
                </div>
                <br>
                <div>
                    <label for="Tipo">Qual sua ocupação:</label><br>
                    <input name= "tipo" class="form-control-sm" type="radio" value="aluno">Aluno
                    <input name= "tipo" class="form-control-sm" type="radio" value="professor">Professor
                    <input name= "tipo" class="form-control-sm" type="radio" value="organizador">Organizador
                </div>

                
                <script>
                    // Exibe o campo de senha especial somente se "organizador" for selecionado
                    const radios = document.querySelectorAll('input[name="tipo"]');
                    const tokenDiv = document.getElementById('tokenAcessoDiv');
                    const tokenInput = tokenDiv.querySelector('input');

                    radios.forEach(radio => {
                        radio.addEventListener('change', function() {
                            if (this.value === 'organizador') {
                                tokenDiv.style.display = 'block';
                                tokenInput.required = true;   // ATIVAR
                            } else {
                                tokenDiv.style.display = 'none';
                                tokenInput.required = false;  // DESATIVAR
                            }
                        });
                    });

                </script>
            </div>
            <div class="div-button">
                <button type="submit" class="btn-enviar">Enviar</button>
            </div>
        </form>
        </div>
{% endblock content %}