{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/style_insc_eventos.css' %}">
<div class="container">
  <h2>Inscrição no Evento</h2>

    <div class="eventosDisp-quadro">
        <div class="eventos-lista">
            {% for evento in eventos  %}
                {%if not evento.emitido %}
                <div class="eventos-itens">
                    <h3>{{ evento.nome }} - {{ evento.tipoevento }}</h3>
                    <p><strong>Tipo do Evento:</strong> {{ evento.tipoevento }}</p> 
                    <p><strong>Local:</strong> {{ evento.local }}</p> 
                    <p><strong>Data:</strong> {{ evento.dataIni|date:"d/m" }} até {{ evento.dataFin|date:"d/m" }}</p> 
                    <p><strong>Horário:</strong> {{ evento.horasIni }}h às {{ evento.horasFin }}h</p> 
                    <p><strong>Vagas:</strong> {{ evento.vagas }}</p> 
                    
                    {% if evento.id_evento in inscritos %}
                    <span style="color: green; font-weight: bold;"> Já inscrito</span>
                    {% else %}
                    <p><strong>Vagas disponíveis:</strong> {{ evento.vagas }}</p> 
                        <form method="post" action="{% url 'inscricao_evento' evento.id_evento %}">
                            {% csrf_token %}
                            <div class="eve-btn"> 
                                <button type="submit" class="eventos-inscricao-btn">Inscrever-se</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            {% endfor %}        
        </div>
    </div>
</div>

{% endblock %}
