{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/style_list_inscricoes.css'%}">

    <h2>Eventos em que {{ usuario.nome }} está inscrito</h2>
<div class="eventos">
    {% if eventos %}

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Data de inicio</th>
                <th>Data de encerramento</th>
                <th>Hora de inicio</th>
                <th>Hora de termino</th>
                <th>Duracao</th>
                <th>Local</th>
                <th>Vagas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.nome }}</td>
                <td>{{ evento.tipoEvento }}</td>
                <td>{{ evento.dataIni|date:"d/m" }}</td>
                <td>{{ evento.dataFin|date:"d/m" }}</td>
                <td>{{ evento.horasIni|time:"H:i" }}</td>
                <td>{{ evento.horasFin|time:"H:i" }}</td>
                <td>{{ evento.horasDura }}</td>
                <td>{{ evento.local }}</td>
                <td>{{ evento.vagas }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>Você ainda não está inscrito em nenhum evento.</p>
    {% endif %}
</div>
</html>
<section style="margin-top: 20px; text-align: center;">
  <a href="{% url 'inscricao_evento_disp' %}">
    <button>
      Ver eventos disponíveis
    </button>
  </a>
</section>
{% endblock  %}