{% extends 'base.html' %}
{% block content %}

    <h1>Eventos em que {{ usuario.nome }} está inscrito</h1>

    {% if eventos %}
        <ul>
        {% for evento in eventos %}
            <li>
                {{ evento.nome }} - {{ evento.tipoevento }} <br>
                Local: {{ evento.local }} <br>
                Data: {{ evento.dataI }} até {{ evento.dataF }} <br>
                Horário: {{ evento.horarioI }}h às {{ evento.horarioF }}h
                <form action="{% url 'emitir_certificados' evento.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>Você ainda não está inscrito em nenhum evento.</p>
    {% endif %}
</body>
</html>
<section style="margin-top: 20px; text-align: center;">
  <a href="{% url 'inscricao_evento_disp' %}">
    <button>
      Ver eventos disponíveis
    </button>
  </a>
</section>
{% endblock  %}