<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'Css/style_login.css' %}">

  </head>
  <body>
      
  {% block content %}

  <div class="login-container">
    <img src="{% static 'imagens/temple.png' %}" class="logo" alt="temple">

    <h2 class= "login_txt">Login</h2>
    <form method="post">
      {% csrf_token %}
      <div id="email-field">
        <input type="email" name="email" id="email" placeholder="E-mail:" required >
      </div>
      <div id="password-field">
        <input type="password" name="senha" id="senha" placeholder="Senha:" required>
      </div id="login-button">
      
      <button type="submit" class="btn_ent">Entrar</button>
    </form>
    <ul class="btn_extras">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cadastro' %}" target="_self">Não possuo cadastro</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cadastro' %}" target="_self">Esqueci minha senha</a>
      </li>
    <ul>
  </div>

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% endblock %}
  </body>
</html>