{% extends "base_org.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Css_org/style_cad_evento.css'%}">
    <div class="infos" >
        <form action="{% url 'cadastro_evento' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <h1>Cadastro de Eventos</h1>
            </div> 


            <div class="campo" id="banner-field">
                <label>Banner do Evento:</label>
                <input type="file" name="banner" accept="image/*" required>
            </div>


            
            <div class="campo" id="nome-field">
                <label>Nome do Evento:</label>
                <input name="nome" class="form-control-sm" type="text"required>
            </div>

            <div class="campo" id="tipo-field">
                <label>Tipo do Evento:</label>
                <select name='tipoEvento' required>
                    <option value="">Selecione um evento</option>
                    <option value="Palestra">Palestra</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Ensino presencial">Ensino presencial</option>
                    <option value="Ensino a distancia">Ensino a distancia</option>
                </select>
            </div>

            <div class="campo" id="data_ini-field">
                <label>Data de início:</label>
                <input name="dataIni" type="date" class="form-control-sm"required>
            </div>

            <div class="campo" id="data_fin-field">
                <label>Data de encerramento:</label>
                <input name="dataFin" type="date" class="form-control-sm"required>
            </div>

            <div class="campo" id="duracao-field">
                <label>Duração do Evento(horas):</label>
                <input name="horasDura" class="form-control-sm" type="number"required>
            </div>

            <div class="campo" id="horas_ini-field">
                <label>Horario de inicio:</label>
                <input name="horasIni" class="form-control-sm" type="time"required>
            </div>

            <div class="campo" id="horas_fin-field">
                <label>Horario de encerramento:</label>
                <input name="horasFin" class="form-control-sm" type="time"required>
            </div>


            <div  class="campo">
                <label>Local:</label>
                <input name="local" id="local-field"  type="text"required>
            </div>

            <div class="campo" id="vagas-field">
                <label>Vagas:</label>
                <input name="vagas" class="form-control-sm" type="number"required>
            </div>

            <div>

            <div class="div-button">
                <button type="submit" class="btn-enviar">Enviar</button>
            </div>
        </form>
    </div>
{% endblock content %}
