{% extends "base_org.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Css_org/style_cad_evento.css'%}">
    <div class="infos" >
        <form action="{% url 'cadastro_evento' %}" method="post">
            {% csrf_token %}

            <div>
                <h1>Cadastro de Eventos</h1>
            </div> 

            <div id="nome-field">
                <label>Nome do Evento:</label>
                <input name="nome" class="form-control-sm" type="text">
            </div>

            <div id="tipo-field">
                <label>Tipo do Evento:</label>
                <select name='tipoEvento' required>
                    <option value="">Selecione um evento</option>
                    <option value="1">Palestra</option>
                    <option value="2">Workshop</option>
                    <option value="3">Ensino presencial</option>
                    <option value="4">Ensino a distancia</option>
                </select>
            </div>

            <div id="data_ini-field">
                <label>Data de início:</label>
                <input name="dataIni" type="date" class="form-control-sm">
            </div>

            <div id="data_fin-field">
                <label>Data de encerramento:</label>
                <input name="dataFin" type="date" class="form-control-sm">
            </div>

            <div id="duracao-field">
                <label>Duração do Evento(horas):</label>
                <input name="horasDura" class="form-control-sm" type="integer">
            </div>

            <div id="horas_ini-field">
                <label>Horario de inicio:</label>
                <input name="horasIni" class="form-control-sm" type="time">
            </div>

            <div id="horas_fin-field">
                <label>Horario de encerramento:</label>
                <input name="horasFin" class="form-control-sm" type="time">
            </div>


            <div id="local-field">
                <label>Local:</label>
                <input name="local" class="form-control-sm" type="text">
            </div>

            <div id="vagas-field">
                <label>Vagas:</label>
                <input name="vagas" class="form-control-sm" type="number">
            </div>

            
            

            <div class="div-button">
                <button type="submit" class="btn-enviar">Enviar</button>
            </div>
        </form>
    </div>
{% endblock content %}
