{% extends "base_org.html" %}
{% block content %}

<h2>Lista de Eventos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Data de inicio</th>
            <th>Data de encerramento</th>
            <th>Duracao</th>
            <th>Local</th>
            <th>Participantes</th>
            <th>Vagas</th>
            <th>Organizador</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>{{ evento.nome }}</td>
            <td>{{ evento.tipoevento }}</td>
            <td>{{ evento.dataIni|date:"d/m" }}</td>
            <td>{{ evento.dataFin|date:"d/m" }}</td>
            <td>{{ evento.horasDura }}</td>
            <td>{{ evento.local }}</td>
            <td>{{ evento.quantPart }}</td>
            <td>{{ evento.vagas }}</td>
            <td>{{ evento.organizador }}</td>
            <td><form action="{% url 'deletar_evento' evento.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}