{% extends "base_org.html" %}
{% block content %}

<h2>Lista de Eventos</h2>

<table class="table">
    <thead>
        <tr>
            <th>id_log</th>
            <th>id_evento</th>
            <th>usuario_id</th>
            <th>horaAcao</th>
            <th>acao</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for Log in Logs %}
        <tr>
            <td>{{ Log.id_log }}</td>
            <td>{{ Log.id_evento }}</td>
            <td>{{ Log.usuario_id }}</td>
            <td>{{ Log.horaAcao }}</td>
            <td>{{ Log.acao }}</td>
            <td><form action="{% url 'deletar_evento' evento.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}