{% extends "base_org.html" %}
{% block content %}

<h2>Lista de Logs</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Log</th>
            <th>ID Evento</th>
            <th>ID Usuário</th>
            <th>Hora da Ação</th>
            <th>Ação</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for Log in Logs %}
        <tr>
            <td>{{ Log.id_log }}</td>
            <td>{{ Log.id_evento }}</td>
            <td>{{ Log.usuario_id }}</td>
            <td>{{ Log.horaAcao }}</td>
            <td>{{ Log.acao }}</td>

            <td>
                <form action="{% url 'deletar_log' Log.id_log %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
