{% extends "base_org.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Css/Css_org/style_list_user.css'%}">
<h2>Lista de Usuários</h2>
<div class="eventos">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Instituição de Ensino</th>
                <th>E-mail</th>
                <th>Senha</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.telefone }}</td>
                <td>{{ usuario.instEnsino }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.senha }}</td>
                <td>{{ usuario.tipo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}