/* Título */
.titulo_home {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
}

/* Texto da página */
.texto_home {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;

    color: #eaeaea;
    font-size: 1.05rem;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.7;
    text-align: justify;

    /* Suavização para leitura */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}





/* Card para imagem da home*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    perspective: 2000px; /* Profundidade 3D */
}

.card{
    margin-left: auto;
    margin-right: auto;

    border: 6px solid #006477;;
    border-radius: 10px;

    width: 1000px;
    height: 530px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    
}

/* Efeito hover → gira */
.card:hover{
    transform: rotateY(180deg);
}

/* Frente e verso */
.front-page,
.back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

/* Imagem da frente */
.front-page{
    background-image: url("{% static 'imagens/bibl_img.png' %}");
    background-size: cover;
    background-position: center;
}

/* Info em cima da imagem */
.card-info{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.card-title{
    font-size: 2rem;
    font-weight: bold;
}

.card-subtitle{
    font-size: 1.2rem;
    color: #0fbcf9;
    margin-top: 5px;
}

.back-page{
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


