/* regras globais */
body {
    margin: 0;
    height: 100vh;
    background-color: #003840;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contêiner do formulário */
#container {
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza tudo internamente */
    gap: 15px;
    color: white;
}

/* Inputs */
#container input {
    background-color: #006477;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    color: white;
}

#container input::placeholder {
    color: white;
    opacity: 1;
}

/* Links */
.links {
    list-style: none;
    padding-left: 0;
    text-align: center; /* deixa os textos centralizados */
}

.links li {
    margin: 3px 0;
}

/*----------------------------------------------------------------------------------*/
.logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px black);
    transform: translateX(30px);
}
/*----------------------------------------------------------------------------------*/

.login_txt {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
/*----------------------------------------------------------------------------------*/

a {
    color: #ffffff;  
    opacity: 0.7;      /* cor do link */
    text-decoration: none; /* tira o sublinhado */
}

a:hover {
    color: #ffffff;        /* cor quando passa o mouse */
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}


/*----------------------------------------------------------------------------------*/

#email-field {
    position: relative;
    width: 250px;
}

#email-field label {
    position: absolute;
    top: 4px;
    left: 8px;
    pointer-events: none;   /* não bloqueia clique */
    font-size: 14px;
}

#email-field input {
    background-color: #006477;
    width: 250px;
    height: 25px;
}

#email-field input::placeholder {
    color: #ffffff;
}



#password-field {
    position: relative;
    width: 250px;
}

#password-field label {
    position: absolute;
    top: 4px;
    left: 8px;
    color: white;
    pointer-events: none;   /* não bloqueia clique */
    font-size: 14px;
}

#password-field input {
    background-color: #006477;
    width: 250px;
    height: 25px;
}

#password-field input::placeholder {
    color: #ffffff;
}

/* estilo para botão */
.btn_ent {
    padding: 8px 14px;
    border-radius: 6px;
    text-align: center;
    display: block;      /* permite mover com margin-left */
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 7px 15px;
    background-color: #006477;
    border: none;
    
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    background-color: #006477;
}


.btn_extras {
    list-style: none;
    text-align: center;
    padding-left: 0; /* remove o recuo padrão */
}
