body {
    font-family: 'Times New Roman', serif;
    background-color: #006477;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificado {
    margin-top: 100px;
    width: 800px;
    height: 400px;
    border: 10px solid #003840;;
    padding: 50px;
    background-color:#c7c7c7;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
}

.certificado h1 {
    font-size: 48px;
    margin-bottom: 0;
    color: #003840;
}

.certificado h2 {
    font-size: 28px;
    margin-top: 10px;
    color: #333;
}

.certificado p {
    font-size: 20px;
    margin: 20px 0;
}

.assinatura {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: center;
}

.assinatura p {
    margin: 0;
}

.linha-assinatura {
    border-top: 1px solid #333;
    width: 200px;
    margin: 0 auto 5px auto;
}